<%- include("partials/header") %>

<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Secrets Notes</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">This is a space where you can keep your secrets without fear of being exposed!.
                Don't worry, you aren't the only one with secrets. You are absolutely normal
            </p>
            <p>You need to log in or if you're new here, you have to register!!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <button type="button"
                    class="btn btn-outline-secondary btn-lg px-4"><a href="/login">Login</a></button> 
                    <button type="button"
                    class="btn btn-outline-secondary btn-lg px-4"><a href="/register">Register</a></button> </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>